name: Release Package

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  build-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create zip package
        run: |
          zip -r "softlib-${{ github.ref_name }}.zip" . -x ".git/*"

      - name: Publish GitHub release
        uses: softprops/action-gh-release@v2
        with:
          files: "softlib-${{ github.ref_name }}.zip"
